@import url('https://fonts.googleapis.com/css?family=Halant:400,600,700&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  font-family: Halant, sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
}

.header {
  font-size: 2.5rem;
}

.head_1 {
  justify-content: center;
  text-align: center;
  border: 1rem solid #efd67b;
  background-color: #efd67b;
  padding: 1rem;
}

#flex_1 {
  font-size: 1.5rem;
  flex-basis: 50%;
}

.art_1 {
  justify-content: center;
  display: flex;
  width: 100%;
}

.art_2 {
  justify-content: center;
  display: flex;
}

.art_3 {
  justify-content: center;
  display: flex;
}

.title {
  font-weight: bold;
}

.paragraph {
  padding: 3rem;
  margin: 5rem;
  flex-basis: auto;
  font-size: 1.5rem;
  /* flex-direction: ; */
}

.art_1>section,
.art_3>section,
.art_2>section {
  flex-basis: 25%;
}

.read_more {
  font-weight: 900;
}

.hr_line {
  background-color: black;
  height: 4px;
  margin-left: 0px;
  width: 5.7rem;
}